body {
    padding-top: 0px;
    background: linear-gradient(150deg, white, black, grey);
    margin: 0; 
    background-attachment: fixed; /* Fondo fijo */
  }
  
  .hero {
    padding: 10vh 0;
    background: transparent; 
    color: white;
  }
  
  .features {
    padding: 50px 0;
  }
  
  .feature-box {
    background-color: #adadad;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .feature-box:hover {
    transform: scale(1.25);
  }
  
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;  
  }
  body{
    color:white;
  }

   /* Estilos para el contenedor del ícono */
   .qr-icon-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que esté encima de otros elementos */
  }

  /* Estilos para el ícono de escáner QR */
  .qr-icon {
    font-size: 5em; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
  }

  /* Estilos para el área de escaneo QR */
  .qr-scan-area {
    text-align: center;
    margin-top: 20px;
  }

  .qr-scan-area p {
    font-size: 18px;
  }

img{
  width: 100px;
}

#gatito{
  width: 40px;
  height: 40px;
}