@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
<<<<<<< HEAD
  background-color: #f8f9fa;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
}
.so{
  color: white;
}
nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
=======
  background-color: #DDE6ED;
  margin: 0; 
  padding-top: 0px;
  font-family: 'Source Sans 3', sans-serif; 
  min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la pantalla */
  flex-direction: column;
  display: flex;
  text-align: center;
}
#logo{
  width: 40px !important;
  height: 40px !important;
}
.container {
  flex: 1; /* Hace que la .container ocupe todo el espacio disponible entre el navbar y el footer */
  padding-bottom: 20px; /* Espacio para el footer */
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
>>>>>>> 9efaea229bfa4105dafc127771c65ea3356f92fb
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}
.hero {
  padding: 10vh 0;
  background: transparent; 
  color: white;
  text-align: center;
}

.features {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-box {
  background-color: #DDE6ED;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  width: 80%;
  max-width: 500px;
  margin: 1em 0;
}

.feature-box:hover {
  transform: scale(1.05); /* Ajuste de escala menor */
}

.footer {
  background-color: #27374D;
  color: #ffffff;
  padding: 20px 0;
  position: relative;
  width: 100%;
  text-align: center; /* Alinea el texto en el centro */
  
}

<<<<<<< HEAD
/* Estilos para el contenedor del ícono */
.qr-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Asegura que esté encima de otros elementos */
  text-align: center;
  width: 80%;
}


  /* Estilos para el ícono de escáner QR */
.qr-icon {
  font-size: 10vw; /* Tamaño del ícono */
  color: #000; /* Color del ícono */
}


  /* Estilos para el área de escaneo QR */
.qr-scan-area {
  margin-top: 2vh;
}

.qr-scan-area p {
  font-size: 1.2em;
}



=======
.img-qr {
    width: 80px;
    height: 80px; 
    display: block;
    margin: 0 auto;
  }
  
>>>>>>> 9efaea229bfa4105dafc127771c65ea3356f92fb
@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
<<<<<<< HEAD
}

=======
    .img-qr {
      width: 60px; 
      height: 60px;
    }
}
>>>>>>> 9efaea229bfa4105dafc127771c65ea3356f92fb
