body {
  padding-top: 0;
  background: linear-gradient(150deg, white, black, grey);
  margin: 0;
  background-attachment: fixed;
}

.hero {
  padding: 10vh 0;
  background: transparent; 
  color: white;
}

.features {
  padding: 5vh 0;
}

.feature-box {
  background-color: none;
  border-radius: 10px;
  padding: 5%;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-box:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
}

.feature-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.qr-scan-area {
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.comida {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.display-4 {
  color: white;
  text-align: center;
  font-size: calc(2rem + 3vw);
}
