@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #DDE6ED; /* Fondo general */
  margin: 0; 
  background-attachment: fixed; /* Fondo fijo */
  padding-top: 0px;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
  text-align: center;
}

.table {
  margin-top: 20px;
}
.so{
  color: white;
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}

.hero {
  padding: 10vh 0;
  background: transparent; 
  color: #ffffff !important; /* Color del texto */
}

.features {
  padding: 50px 0;
  background-color: #9DB2BF; /* Fondo de la sección de características */
}
.btn{
  border: solid 1px;
}
.feature-box {
  background-color: #526D82; /* Fondo de las cajas */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #DDE6ED; /* Color del texto en las cajas */
}

.feature-box:hover {
  transform: scale(1.25);
}

.footer {
  background-color: #27374D; /* Fondo del footer, oscuro para contraste */
  color: #DDE6ED; /* Color del texto en el footer */
  padding: 20px 0;
  width: 100%; 
  position: fixed;
  bottom: 0; 
}

/* Media queries para hacer el contenido responsive */
@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
}

