@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #f8f9fa;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
}
.so{
  color: white;
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}

.container {
  max-width: 900px;
  margin-top: 50px;
  flex: 1;
}

.card {
  padding: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #27374D;
  color: white;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
}
