@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #f8f9fa;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0px;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
  padding-bottom: 90px;
}
.so{
  color:white !important;
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */

}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}
.features {
  padding: 50px 0;
  background-color: #9DB2BF; /* Fondo de la sección de características */
}

.feature-box {
  background-color: #526D82; /* Fondo de las cajas */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition:  0.3s ease;
  color: #DDE6ED; /* Color del texto en las cajas */
}

.feature-box:hover {
  transform: scale(1.25);
}

.container {
  max-width: 990px;
  margin-top: 0px;
  flex: 1;
}

.card {
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #27374D;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #27374D;
}

.footer {
  background-color: #27374D; /* Fondo del footer, oscuro para contraste */
  color: #DDE6ED; /* Color del texto en el footer */
  padding: 20px;
  width: 100%; 
  position: fixed;
  bottom: 0; 
}

.card {
    background-color: #ffffff; 
  }
  .card-header {
    background-color: #27374D; 
  }
  .btn-success {
    background-color: #27374D;
    border-color: #27374D;
  }

  

/* Media queries para hacer el contenido responsive */

@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
}
