/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #DDE6ED; /* Fondo general */
  margin: 0; 
  padding: 0;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
  text-align: center;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.container {
  padding: 0 15px; /* Espaciado horizontal en el contenedor */
}

.table {
  margin: 20px auto; /* Centra la tabla y añade espacio superior e inferior */
  width: 90%; /* Ancho de la tabla como porcentaje del contenedor */
  max-width: 800px; /* Ancho máximo más pequeño para la tabla */
  border-collapse: collapse; /* Quitar espacios entre celdas */
  overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
}

.table th, .table td {
  padding: 15px; /* Espaciado dentro de las celdas */
  border: 1px solid #ddd; /* Borde de las celdas */
  text-align: left;
}

.table thead {
  background-color: #27374D; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto del encabezado */
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Fondo alternativo para las filas */
}

.so {
  color: white;
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}

.hero {
  padding: 10vh 0;
  background: transparent; 
  color: #ffffff !important; /* Color del texto */
}

.features {
  padding: 50px 0;
  background-color: #9DB2BF; /* Fondo de la sección de características */
}

.btn {
  border: solid 1px;
}

.feature-box {
  background-color: #526D82; /* Fondo de las cajas */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #DDE6ED; /* Color del texto en las cajas */
}

.feature-box:hover {
  transform: scale(1.25);
}

.footer {
  background-color: #27374D; /* Fondo del footer, oscuro para contraste */
  color: #DDE6ED; /* Color del texto en el footer */
  padding: 20px 0;
  width: 100%; 
  position: relative; /* Ajusta el footer sin superponerse */
  bottom: 0; 
}

/* Media queries para hacer el contenido responsive */
@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
  .table {
    font-size: 14px; /* Ajuste del tamaño de fuente en la tabla para pantallas pequeñas */
  }
}
