@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #DDE6ED; 
  margin: 0; 
  font-family: 'Source Sans 3', sans-serif; 
  min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la pantalla */
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* Hace que la .container ocupe todo el espacio disponible entre el navbar y el footer */
  padding:0px; /* Espacio para el footer */
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}

.hero {
  padding: 10vh 0;
  background: transparent; 
  color: white;
  text-align: center;
}

.features {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-box {
  background-color: #DDE6ED;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  width: 80%;
  max-width: 500px;
  margin: 1em 0;
}

.feature-box:hover {
  transform: scale(1.05); /* Ajuste de escala menor */
}

.footer {
  background-color: #27374D;
  color: #ffffff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; /* Alinea el texto en el centro */
}

img {
  max-width: 100px;
}

.btn {
  background-color: #27374D; /* Color de fondo inicial del botón */
  color: #ffffff; /* Color del texto */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #27374D; /* Color de fondo al pasar el mouse */
  color: #DDE6ED; /* Cambia el color del texto al pasar el mouse */
  transform: scale(1.1); /* Escala el botón al pasar el mouse */
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
}
