/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #DDE6ED; /* Fondo general */
  margin: 0; 
  padding: 0;
  font-family: 'Source Sans 3', sans-serif; /* Aplicación de la fuente */
  text-align: center;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.container {
  flex: 1; /* Hace que la .container ocupe todo el espacio disponible entre el navbar y el footer */
  padding:0px; /* Espacio para el footer */
}

nav.navbar {
  background-color: #27374D; /* Fondo del nav */
  color: #ffffff !important; /* Color del texto en el nav */
}

nav.navbar a.nav-link,
nav.navbar .navbar-brand h3.so,
nav.navbar .navbar-brand,
nav.navbar a.nav-link.dropdown-toggle {
  color: #ffffff !important; /* Asegúrate de que todos los enlaces y textos sean blancos */
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.dropdown-toggle:hover {
  color: #DDE6ED !important; /* Color al pasar el mouse */
}

.hero {
  padding: 10vh 0;
  background: transparent; 
  color: white;
  text-align: center;
}

.features {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-box {
  background-color: #DDE6ED;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  width: 80%;
  max-width: 500px;
  margin: 1em 0;
}

.feature-box:hover {
  transform: scale(1.05); /* Ajuste de escala menor */
}

/* Estilos para la tabla */
.table {
  margin: 20px auto; /* Centrar la tabla */
  width: 80%; /* Reducir el ancho de la tabla */
  max-width: 700px; /* Ancho máximo para pantallas grandes */
  border-collapse: collapse;
  background-color: #FFF; /* Fondo blanco para la tabla */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Para evitar que los bordes redondeados se desborden */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra para el efecto de elevación */
}

.table th, .table td {
  padding: 12px 15px; /* Espaciado dentro de las celdas */
  border-bottom: 1px solid #ddd; /* Borde inferior en cada celda */
  text-align: left;
  font-size: 16px; /* Tamaño de fuente ajustado */
}

.table thead {
  background-color: #27374D; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto del encabezado */
  text-transform: uppercase; /* Texto en mayúsculas para el encabezado */
  letter-spacing: 0.05em; /* Espaciado entre letras en el encabezado */
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Fondo alternativo para las filas */
}

.table tbody tr:hover {
  background-color: #E3E7EB; /* Color de fondo al pasar el ratón */
}

/* Footer fijo en la parte inferior */
.footer {
  background-color: #27374D;
  color: #ffffff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; /* Alinea el texto en el centro */
}

/* Media queries para hacer el contenido responsive */
@media (max-width: 576px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  .container h3 {
    font-size: 20px;
  }
  .table {
    width: 100%; /* Ajuste del ancho de la tabla para pantallas pequeñas */
    font-size: 14px; /* Ajuste del tamaño de fuente en la tabla para pantallas pequeñas */
  }
}
